name: PR-Test

on:
  pull_request:
    branches: [main]

jobs:
  build-test-and-release:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch tags

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
          check-latest: true

      - name: Run tests
        run: go test ./... -coverprofile=coverage.txt
        env:
          TEST_ETH_RPC_URL: "https://eth.public-rpc.com"

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

